// COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;

$color-light-grey: #f7f7f7;

// GRID

$grid-width: 114rem;
$grid-margin: 6rem;

//FOR RESPONSIVE

$grid-margin-tab: 7rem